<%= link_to '新しく記事を書く', new_article_path, :class => 'btn btn-large' %>
<% @articles.each do |article| %>
  <tr>
    <p>
    
      <h2>
        <%= article.title %>
        </h2>
      
      </p>
    
      <p>
      <%= raw @markdown.render(article.description) %>
      </p>
      <p>
      <%= article.created_at %>
      </p>
      <p>
      <%= link_to 'Show', article %>
      
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete %>
    </p>
    <hr>
  <% end %>


