<!DOCTYPE html>
<html>
  <head>
    <title>ひがしのてらこや。</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta itemprop="name" content="ひがしのてらこや。">
<meta itemprop="description" content="京大生が作った同人ノベルゲーム制作サークル「ひがしのてらこや。」">

<script type="text/javascript">
$("document").ready(function(){
    $('.flexslider').flexslider();
});
</script>

<script type='text/javascript'>
$(document).ready(function() {
  $('#slider').cycle({
    fx : 'fade', /* fade, scrollLeft, scrollUp など */
    speed : 1500, /* エフェクトのスピード */
    timeout : 1000, /* スライドの間隔 */
    easing : 'swing', /* easing */
    pause : 1 /* ホバー時の一時停止 */
  });
});
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31633684-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>
  <body>

    <div class="navbar">
      <div class="navbar-inner">
          <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">ひがしのてらこや。</a>
          <div class="container nav-collapse">
            <ul class="nav pull-right">
            <!--ここにnavba-内のリンク書いたりする-->
            <li><%= link_to '京大生がつくったゲーム制作サークル「ひがしのてらこや。」とは？', '/about_us' %></li>
            <% if session[:user_id] %>
              <li><%= link_to '記事の編集', '/articles' %></li>
              <li><%= link_to 'ログアウト', '/logout', method: :delete %></li>

            <% else %>
              <li><%= link_to '管理者ログイン', '/login' %></li>
              <li><!-%= link_to '新規管理者登録', '/users/new' %>
              </li>
               </ul>
            <% end %>

          </div><!--/.nav-collapse -->
        </div>
    </div>

      <a href="http://anathemaphysics.herokuapp.com">
    <div class="flexslider">
<ul class="slides">
    <li>
    <%= image_tag("https://dl.dropbox.com/u/17538030/anathemawide1.jpg")%>
</li>
<li>
    <%= image_tag("https://dl.dropbox.com/u/17538030/anathemawide2.png")%>
</li>
<li>
    <%= image_tag("https://dl.dropbox.com/u/17538030/anathemawide3.png")%>
</li>
<li>
    <%= image_tag("https://dl.dropbox.com/u/17538030/anathemawide4.jpg")%>
</li>
<li>
    <%= image_tag("https://dl.dropbox.com/u/17538030/anathemawide5.jpg")%>
</li>
<li>
    <%= image_tag("https://dl.dropbox.com/u/17538030/anathemawide6.jpg")%>
</li>
<!-- 以下、画像分 -->
</ul>
</div>
</a>


    </div>
<div class="container">
      <div class="row">
          <div class="span12">
          <ul class="nav nav-tabs">


              <% if request.fullpath == '/' %>
                   <li class="active">
              <% else%>
                  <li>
              <% end %>
        <a href="/">トップページ</a></li>
              <% if request.fullpath == '/products' %>
                   <li class="active">
              <% else%>
                  <li>
              <% end %>
    <a href="/products">ゲームとか作ったものとかこれから作るものとか</a></li>
              <% if request.fullpath == '/staff' %>
                   <li class="active">
              <% else%>
                  <li>
              <% end %>
    <a href="/staff">制作スタッフ</a></li>
              <% if request.fullpath == '/history' %>
                   <li class="active">
              <% else%>
                  <li>
              <% end %>
  <a href="/history">ひがしのてらこや。の歴史</a></li>
              <% if request.fullpath == '/archives' %>
                   <li class="active">
              <% else%>
                  <li>
              <% end %>
 <a href="/archives">過去の記事</a></li>
              <% if request.fullpath == '/links' %>
                   <li class="active">
              <% else%>
                  <li>
              <% end %>
  <a href="/links">リンク</a></li>
  <li><a href="http://higashinoterakoya.blogspot.jp/" target="_blank">ブログ</a></li>
  
</ul>
</div>
  
          
<div class="span8">
    <div data-pjax-container>
        <%= yield %>
    </div>
        </div>

        <div class="span4">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"></li> 
              
              
              <!-- このタグを +1 ボタンを表示する場所に挿入してください -->
<g:plusone annotation="inline" width="120"></g:plusone>

<!-- この render 呼び出しを適切な位置に挿入してください -->
<script type="text/javascript">
  window.___gcfg = {lang: 'ja'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<br>
              <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
           
<h3>
  </h3>
              <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 3,
  interval: 30000,
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#992222',
      color: '#ffffff'
    },
    tweets: {
      background: '#fdfdfd',
      color: '#000000',
      links: '#992222'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('anathemaphysics').start();
</script>
                        </ul>
          </div><!--/.well -->
      </div><!--/span-->      </div><!--/row-->

      
    
      <footer>
        <p>&copy; ひがしのてらこや。2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
